@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
  --bg-blue: #3b83f60e;
  --gray: #2b313a2d;
  --gray2: #2f2b3a5b;
}

html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.box {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.titles {
  @apply text-lg lg:text-xl font-semibold;
}

.heading-one{
  @apply text-3xl md:text-4xl font-bold;
}

.heading-two {
  @apply text-xl md:text-2xl font-semibold;
}




/* .bg-grid {
  position: relative;
  background-color: #0a0a0a;
  overflow: hidden;
} */


/* Grid background layer */
.bg-grid::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;              /* behind content */
  pointer-events: none;

  background-image:
    linear-gradient(#1a1a1a 1px, transparent 1px),
    linear-gradient(90deg, #1a1a1a 1px, transparent 1px);
  background-size: 40px 40px;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  mask-repeat: no-repeat;
  mask-size: cover;
}


/* Ensure content stays above */
/* .bg-grid > * {
  position: relative;
  z-index: 1;
} */

.skill-bg{
  background-color: var(--gray);

}

.link {
  @apply px-4 py-1 rounded-lg bg-blue-500/20 hover:bg-blue-500/70;
}

.navbar-link{
  @apply px-3 py-1 rounded-lg hover:bg-gray-800/70 cursor-pointer;
}



