@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #0a0a0a;
  --blue: #3b82f61a;
  --gray: #2b313a3b;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.box {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
